.tags-page {
  .tags-page__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
    margin-bottom: 80px;

    & > * {
      margin: 10px 10px 10px 5px;
    }
  }
}