@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');
@import "./style/vars";
@import "./style/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;

  font-family: 'Rubik', sans-serif;
}

body {
  background: #F7F5FF;
  color: #333333;
}

section {
  min-height: calc(100vh - 100px);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  cursor: pointer;
}

.helper-text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

section {
  padding-top: 40px;
  padding-left: $sidebar-width;

  @include breakpoint($md-width) {
    padding-left: 0;
  }
}

.btn {
  padding: 9px 22px;

  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.03em;

  color: #4A3AFF;
  background: #E8E6FF;
  border: 2px solid #E8E6FF;
  border-radius: 25px;

  transition: all 0.2s linear;

  &:hover {
    background-color: transparent;
  }
}

